body {
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url("images/background.jpg");
  background-size: cover;
}

a {
  text-decoration: none;
  color: purple;
}

h1 {
  margin: 0;
}
#container {
  background-color: white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#header {
  background-color: darkcyan;
  color: snow;
  text-align: left;
  padding: 10px;
  display: flex;
}

#main {
  width: auto;
  text-align: center;
  margin-top: 200px;
}
#footer {
  clear: both;
  padding: 10px;
  background-color: darkcyan;
  color: snow;
  text-align: left;
  bottom: 0;
  position: fixed;
  width: 100%;
}
#navicon {
  width: 40px;
  height: 40px;
}

#headernav {
  position: absolute;
  text-align: center;
  right: 0px;
}

#buttonadd {
  background-color: rgba(43, 255, 61, 0.7);
  border: 100%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 52px;
  font-style: bold;
  cursor: pointer;
  border-radius: 30%;
  width: 540px;
  height: 300px;
}

#buttonremove {
  background-color: rgba(255, 43, 43, 0.7);
  border: 100%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 52px;
  cursor: pointer;
  border-radius: 30%;
  width: 540px;
  height: 300px;
}

#buttonadd {
  display: inline-block;
  padding: 0.46em 1.6em;
  border: 0.2em solid #000000;
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.15s;
}
#buttonadd:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #ffffff;
  border-color: #ffffff;
}
@media all and (max-width: 30em) {
  button.buttonadd {
    display: block;
    margin: 0.4em auto;
  }
}

#buttonremove {
  display: inline-block;
  padding: 0.46em 1.6em;
  border: 0.2em solid #000000;
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  transition: all 0.15s;
}
#buttonremove:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: white;
  border-color: #ffffff;
}
@media all and (max-width: 30em) {
  button.buttonremove {
    display: block;
    margin: 0.4em auto;
  }
}
